@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: filter 0.3s ease; /* Smooth transition for the filter effect */
}

.inverted { /* Inverted color scheme */
  filter: invert(100%) hue-rotate(180deg); /* Invert colors and adjust hues */
}
