@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-fancy: 'Pacifico', cursive;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-fancy: 'Pacifico', cursive;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: filter 0.3s ease; /* Smooth transition for the filter effect */
}

.inverted { /* Inverted color scheme */
  filter: invert(100%) hue-rotate(180deg); /* Invert colors and adjust hues */
}

.system-font {
  font-family: Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
